html {
    display: flex;
  }
  #navbar {
    max-width: 300px;
    position: fixed;
    border: solid;
    height: 100%;
    border-top: none;
    border-left: none;
    margin-left: -10px;
    margin-top: -10px;
    background-color: burlywood;
    padding-top: 20px;
    padding-left: 20px;
  }
  .nav-link {
    list-style: none;
    float: left;
    position: relative;
    width: 100%;
    border: solid 1px gray;
    padding: 15px;
    margin-left: -49px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
  }
  .nav-link:hover {
  background-color: black!important;
  color: rgb(222, 196, 46)!important;
  }
  #martyr:hover {
    background-color: rgb(209, 5, 5)!important;
  }
  header {
    font-family: open sans;
    font-weight: bold;
    font-size: 30px;
    padding-left: 35px;
  }
  header:hover {
  color: rgb(186, 160, 8);
  }
  .main-section {
    margin-left: 350px;
  }
  .section-header {
    padding-top: 50px;
    font-family: open sans;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: underline;
    color: #008000;
  }
  .key-info {
    font-family:Arial, Helvetica, sans-serif;
    list-style: circle;
    margin-left: -20px;
    padding: auto;
    font-size: 1em;
    line-height: 1.5;
    color: #4d4e53;
    border: solid 0.5px;
  }
  .italics {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.85em;
    color: black;
    font-weight: lighter;
  }
  .normal-text {
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    color: #4d4e53;
  }
  .one {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    width: 200px;
    height: 200px;
  }
  #nav-link:visited {
    color:rgb(186, 160, 8);
  }
  #nav-link:hover {
    color:rgb(222, 196, 46);
  }
  #nav-link:active {
    color:rgb(222, 196, 46);
  }
  #nav-link {
    color:rgb(222, 196, 46)
  }
  .three {
    height: 300px;
    width: 500px;
    float: right;
    margin-right: 50px;
    padding-top: 20px;
  }
  body {
    background-color: ivory;
  }
  .two {
    height: 350px;
    width: 350px;
    float: right;
  }
  .four {
    margin-right: 10px;
    height: 350px;
    width: 350px;
    float: right;
  }
  .five {
    height: 350px;
    width: 500px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
  }
  .list {
    list-style-type: numbers;
    border: none;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    padding: auto;
    font-size: 1em;
    line-height: 1.5;
  }
  #red:hover {
    color:rgb(209, 5, 5)!important;
  }
  div {
    display: flex;
    flex-direction:column;
    float: right;
  }


  